header h1 {
  text-align: center;
  color: #000000;
  
}
div#header{
  width: auto;
  height: 80px;
  background-color: gray;
  margin: 0 auto;
  content: center;
  padding-top: 10px;
}
div#nav  {
  text-align: center;
  border: double;
}
 div#nav button{
  margin: 10px 50px;
}